h1{
  font-family: 'ThirstyRoughReg', cursive;
  text-align: center;
  color:brown;
}


h2{
  font-family: 'ThirstyRoughReg', cursive;
  text-align: center;
  color:orange;
}

p{
  font-family: fantasy;
}

p.intro{
  font-style: italic;
}


.flashy{
  color: red;
  font-style: italic;
}

.best{
  font-weight: bolder;
  color:orange;
  font-style: italic;
}
